{%- assign page-width = section.settings.page-width -%}

<style>
  {% case section.settings.grid %}
  {% when '2' %}
  .grid__item--{{section.id}} .grid-view-item__image {
    max-height: 530px;
  }
  {% when '3' %}
  .grid__item--{{section.id}} .grid-view-item__image {
    max-height: 345px;
  }
  {% when '4' %}
  .grid__item--{{section.id}} .grid-view-item__image {
    max-height: 250px;
  }
  {% when '5' %}
  .grid__item--{{section.id}} .grid-view-item__image {
    max-height: 195px;
  }
  {% endcase %}
</style>

{% if section.settings.layout == 'grid' %}
{%- assign limit = section.settings.grid | times: section.settings.rows -%}
{% else %}
{%- assign limit = 16 -%}
{% endif %}

{%- assign sidebar = section.settings.show_collection_sidebar -%}
{%- assign sidebar_position = section.settings.collection_sidebar_position -%}

{% paginate collection.products by limit %}

<div data-section-id="{{ section.id }}" data-section-type="collection-template" class="products-collection">
  <div class="product-wrapper" id="Collection">
    {% if section.settings.layout == 'grid' %}
    {% case section.settings.grid %}
    {% when '2' %}
    {%- assign grid_item_width = 'col-md-6 col-sm-4 col-xxs-6 col-xs-12' -%}
    {%- assign image_size = '530x530' -%}
    {% when '3' %}
    {%- assign grid_item_width = 'col-md-4 col-sm-4 col-xxs-6 col-xs-12' -%}
    {%- assign image_size = '345x345' -%}
    {% when '4' %}
    {%- assign grid_item_width = 'col-md-3 col-sm-4 col-xxs-6 col-xs-12' -%}
    {%- assign image_size = '250x250' -%}
    {% when '5' %}
    {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
    {%- assign image_size = '195x195' -%}
    {% endcase %}

    <div class="products-listing products-grid grid {% if section.settings.layout == 'grid' %}row {% endif %}{% if collection.products_count > 0 %} grid--view-itemss{% endif %}">
      {% for product in collection.products %}
      <div class="product-layout grid__item grid__item--{{section.id}} {{ grid_item_width }}">
        {% include 'product-card-grid', grid_image_width: image_size %}
      </div>
      {% else %}
      {% comment %}
      Add default products to help with onboarding for collections/all only.

      The onboarding styles and products are only loaded if the
      store has no products.
      {% endcomment %}
      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
      <div class="grid__item">
        <div class="grid grid--uniform">
          {% for i in (1..limit) %}
          <div class="grid__item {{ grid_item_width }}">
            <div class="grid-view-item">
              <a href="#" class="grid-view-item__link">
                <div class="grid-view-item__image">
                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
                <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                <div class="grid-view-item__meta">
                  <span class="product-price__price">$19.99</span>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% else %}
      {%- assign is_empty_collection = true -%}
      {% endif %}
      {% endfor %}
    </div>
    {% else %}
    <div class="products-list list row">
      {% for product in collection.products %}
      <div class="product-layout clearfix">
        {% include 'product-card-list', product: product %}
      </div>
      {% else %}

      {% comment %}
      Add default products to help with onboarding for collections/all only.

      The onboarding styles and products are only loaded if the
      store has no products.
      {% endcomment %}
      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0%}
      {% for i in (1..4) %}
      <a href="#" class="list-view-item">
        <div class="list-view-item__image-column">
          <div class="list-view-item__image-wrapper">
            <div class="list-view-item__image">
              {%- assign placeholder = 'placeholder-product-' | append: i -%}
              {% include placeholder %}
            </div>
          </div>
        </div>

        <div class="list-view-item__title-column">
          <div class="list-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
        </div>

        <div class="list-view-item__price-column">
          <span class="product-price__price">$19.99</span>
        </div>
      </a>
      {% endfor %}
      {% else %}
      {%- assign is_empty_collection = true -%}
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}

    {% if is_empty_collection %}
    <div class="grid__item small--text-center">
      <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
    </div>
    {% endif %}


    {% if paginate.pages > 1 %}
    <div class="padding">
      {% include 'pagination-custom' %}
    </div>
    {% endif %}
  </div>
</div>

{% endpaginate %}

{% schema %}
{
"name": "Collection Pages",
"settings": [

{
"type": "select",
"id": "layout",
"label": "Layout",
"default": "grid",
"options": [
{
"value": "grid",
"label": "Grid"
},
{
"value": "list",
"label": "List"
}
]
},
{
"type": "select",
"id": "grid",
"label": "Products per row (grid only)",
"default": "3",
"options": [
{
"value": "2",
"label": "2"
},
{
"value": "3",
"label": "3"
},
{
"value": "4",
"label": "4"
},
{
"value": "5",
"label": "5"
}
]
},
{
"type": "select",
"id": "rows",
"label": "Rows per page (grid only)",
"default": "2",
"options": [
{
"value": "2",
"label": "2"
},
{
"value": "3",
"label": "3"
},
{
"value": "4",
"label": "4"
},
{
"value": "5",
"label": "5"
},
{
"value": "6",
"label": "6"
},
{
"value": "7",
"label": "7"
},
{
"value": "8",
"label": "8"
}
]
}

]

}
{% endschema %}
