{% assign show_container	= section.settings.show_container    %}
{% assign nav				= section.settings.owl_navigation  %}
{% assign margin			= section.settings.owl_margin  %}
{% assign autoplay			= section.settings.owl_autoplay  %}
{% assign autospeed			= section.settings.owl_autoplay_speed  %}
{% assign speed				= section.settings.owl_speed  %}
{% assign column1			= section.settings.column1  %}
{% assign column2 			= section.settings.column2  %}
{% assign column3 			= section.settings.column3  %}
{% assign column4 			= section.settings.column4  %}
{% assign column5 			= section.settings.column5  %}
<div class="widget-logolist no-margin {{ section.settings.layout }}">
  <div class="{% if show_container %}container {% else %}container_full{% endif %}">
    <div class="wrap">
    {% if section.settings.title != blank %}
    <div class="home-title">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
    {% endif %}
    {% if section.blocks.size > 0 %}
    <div class="ss-carousel ss-owl logo-bars{% if section.settings.title_enable %} logo-bar--large{% endif %}">
      <div class="product-layout owl-carousel" 
           data-nav			="{{ nav }}" 
           data-margin		="{{ margin }}"
           data-autoplay	="{{ autoplay }}" 
           data-autospeed	="{{ autospeed }}" 
           data-speed		="{{ speed }}"
           data-column1		="{{ column1 }}" 
           data-column2		="{{ column2 }}" 
           data-column3		="{{ column3 }}" 
           data-column4		="{{ column4 }}" 
           data-column5		="{{ column5 }}">
        {% for block in section.blocks %}
		{% if section.settings.image_size != blank %}
            {% assign image_size = section.settings.image_size %}
        {% else %}
            {% assign image_size = 'master' %}
        {% endif %}
        <div class="logo-item{% if section.settings.title_enable %} logo-bar__item--large{% endif %}" {{ block.shopify_attributes }}>
          {% if block.settings.link != blank %}
          <a href="{{ block.settings.link }}" class="logo-bar__link">
            {% endif %}
            {% if block.settings.image != blank %}
            <img class="img-responsive" alt="{{ block.settings.image.alt | default: shop.name }}" src="{{ block.settings.image | img_url: image_size }}" />
            {% else %}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
            {% if block.settings.link != blank %}
          </a>
          {% endif %}
        </div>

        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
    {% endif %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Home Page Logo List",
  "class": "home-section",
  "max_blocks": 10,
  "settings": [
	{
      "type": "header",
      "content": "Settings Garenal"
    },
    {
      "type": "checkbox",
      "id": "show_container",
      "label": "Enable",
      "default": true
    },
    {
      "type": "select",
      "id": "style",
      "label": "Select Style",
      "default": "style-df",
      "options":[
        {
          "value": "style-df",
          "label": "Style Default"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Logo list"
    },

    {
      "type": "header",
      "content": "Settings Owl"
    },
    {
      "type": "select",
      "id": "column1",
      "label": "#Column 1",
      "default": "6",
      "info": "For Large desktops have screen > 1200px",
      "options":[
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
		{
          "value": "6",
          "label": "6"
        }
      ]
    },
    {
      "type": "select",
      "id": "column2",
      "label": "#Column 2",
      "default": "5",
      "info": "For Tablets have screen 991px to 1199px.",
      "options":[
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        }
      ]
    },
    {
      "type": "select",
      "id": "column3",
      "label": "#Column 3",
      "info": "For Tablets have screen 768px to 991px.",
      "default": "4",
      "options":[
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        }
      ]
    },
    {
      "type": "select",
      "id": "column4",
      "label": "#Column 4",
      "default": "3",
      "info": "For Smartphones landscape have screen 480px to 767px",
      "options":[
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        }
      ]
    },
    {
      "type": "select",
      "id": "column5",
      "label": "#Column 5",
      "default": "2",
      "info": "For Smartphones have screen 0px to 479px.",
      "options":[
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "owl_navigation",
      "label": "Show navigation",
      "default": true
    },
    {
      "type": "text",
      "id": "owl_margin",
      "label": "Margin Item",
      "default": "30"
    },
    {
      "type": "checkbox",
      "id": "owl_autoplay",
      "label": "Owl Auto Play",
      "default": false
    },
    {
      "type": "text",
      "id": "owl_autoplay_speed",
      "label": "Owl Auto Play speed",
      "info": "Default: 10000(ms)",
      "default": "10000"
    },
    {
      "type": "text",
      "id": "owl_speed",
      "label": "Owl Speed",
      "info": "Slide/Fade animation speed",
      "default": "300"
    }
  ],
  "blocks": [
    {
      "type": "logo_image",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_size",
          "label": "Image size",
          "default": "170x100",
          "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Page LogoList",
      "category": "Image",
      "blocks": [
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        }
      ]
    }
  ]
}
{% endschema %}