{% assign list_blog 		= section.settings.list_blog %}
{% assign nav				= section.settings.owl_navigation  %}
{% assign margin			= section.settings.owl_margin  %}
{% assign autoplay			= section.settings.owl_autoplay  %}
{% assign autospeed			= section.settings.owl_autoplay_speed  %}
{% assign speed				= section.settings.owl_speed  %}
{% assign column1			= section.settings.column1  %}
{% assign column2 			= section.settings.column2  %}
{% assign column3 			= section.settings.column3  %}
{% assign column4 			= section.settings.column4  %}
{% assign column5 			= section.settings.column5  %}
{% assign row 				= section.settings.row      %}
{% assign limit 			= section.settings.limit    %}
{% assign show_container	= section.settings.show_container    %}

<div class="widget-blog-slide {{ section.settings.layout }}">
    <div class="{% if show_container %}container {% else %}container_full{% endif %}">
        <div class="widget-blogs">
            {% if section.settings.title1 != blank %}
          	<div class="home-title"><h2>{{ section.settings.title1 }}</h2></div>
            {% endif %}
            <div class="widget-content">
                <div class="ss-carousel ss-owl">
                    <div class="owl-carousel" 
                       	data-nav		="false" 
                        data-margin		="{{ margin }}"
                        data-autoplay	="{{ autoplay }}" 
                        data-autospeed	="{{ autospeed }}" 
                        data-speed		="{{ speed }}"
                        data-column1	="{{ column1 }}" 
                        data-column2	="{{ column2 }}" 
                        data-column3	="{{ column3 }}" 
                        data-column4	="{{ column4 }}" 
                        data-column5	="{{ column5 }}">
                        {% for article in blogs[list_blog].articles limit:limit %}
                      		{% if section.settings.image_size != blank %}
                                {% assign image_size = section.settings.image_size %}
                            {% else %}
                                {% assign image_size = 'master' %}
                            {% endif %}
                            <div class="blog-item">
                              <div class="blog-info">
                                {% if section.settings.image_featured %}
                                    {% if article.image %}
                                        <div class="blog-image">
                                            <a href="{{ article.url }}">
                                              <img class="img-responsive" src="{{ article.image | img_url: image_size }}" alt="{{ article.title }}" />
                                              </a>
                                        </div>
                                    {% endif %}
                                {% endif %}
       
                                <h3 class="blog-title"><a href="{{ article.url }}">{{ article.title }}</a></h3>
                                <ul>
                                  <li>
                                    <span>{{ article.published_at | date: "%b %d, 20%y"}}</span>
                                  </li>
                                  <li>
                                    <span>{{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}</span>
                                  </li>
                                </ul>                                
                                <div class="blog-decs">
                                    {% if article.excerpt.size > 0 %}
                                        {{ article.excerpt }}
                                    {% else %}
                                        {{ article.content | strip_html | truncatewords: 35 }}
                                    {% endif %}
                                </div>
                                <div class="hidden">
                                    <a class="btn" href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a>
                                </div>
                              </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Homepage Blogs",
        "class": "home-section",
        "settings":[
            {
                "type": "header",
                "content": "General Settings"
            },
			{
              "type": "checkbox",
              "id": "show_container",
              "label": "Enable",
              "default": true
            },
            {
                "type": "select",
                "id": "style",
                "label": "Select Style",
                "default": "style-df",
                "options":[
                    {
                        "value": "style-df",
                        "label": "Style Default"
                    }
                ]
            },
            {
                "type": "text",
                "id": "title1",
                "label": "Title Blogs"
            },
            {
                "type": "blog",
                "id": "list_blog",
                "label": "Sellect Categories Blog"
            },
            {
                "type": "checkbox",
                "id": "image_featured",
                "label": "Show featured image",
                "default": true
            },
            {
                "type": "text",
                "id": "image_size",
                "label": "Featured image size",
                "default": "480x",
                "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
            },
            {
            "type": "header",
            "content": "Owl Settings"
        },
        {
            "type": "select",
            "id": "column1",
            "label": "#Column 1",
            "default": "4",
			"info": "For Large desktops have screen > 1200px",
            "options":[
            	{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	},
            	{
            		"value": "5",
                    "label": "5"
            	}
            ]
        },
		{
            "type": "select",
            "id": "column2",
            "label": "#Column 2",
            "default": "3",
			"info": "For Tablets have screen 991px to 1199px.",
            "options":[
            	{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	},
            	{
            		"value": "5",
                    "label": "5"
            	}
            ]
        },
		{
            "type": "select",
            "id": "column3",
            "label": "#Column 3",
			"info": "For Tablets have screen 768px to 991px.",
            "default": "2",
            "options":[
            	{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	},
            	{
            		"value": "5",
                    "label": "5"
            	}
            ]
        },
		{
            "type": "select",
            "id": "column4",
            "label": "#Column 4",
            "default": "2",
			"info": "For Smartphones landscape have screen 480px to 767px",
            "options":[
            	{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	},
            	{
            		"value": "3",
                    "label": "3"
            	},
            	{
            		"value": "4",
                    "label": "4"
            	},
            	{
            		"value": "5",
                    "label": "5"
            	}
            ]
        },
        {
            "type": "select",
            "id": "column5",
            "label": "#Column 5",
            "default": "1",
            "info": "For Smartphones have screen 0px to 479px.",
            "options":[
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                }
            ]
        },
        {
            "type": "select",
            "id": "row",
            "label": "Sellect Row",
            "default": "1",
            "options":[
            	{
            		"value": "1",
                    "label": "1"
            	},
            	{
            		"value": "2",
                    "label": "2"
            	}
            ]
        },
        {
            "type": "text",
            "id": "limit",
            "label": "Limit Item",
            "default": "8"
        },
        {
            "type": "checkbox",
            "id": "owl_navigation",
            "label": "Show navigation",
            "default": true
        },
		{
            "type": "text",
            "id": "owl_margin",
            "label": "Margin Item",
            "default": "30"
        },
        {
            "type": "checkbox",
            "id": "owl_autoplay",
            "label": "Owl Auto Play",
            "default": false
        },
        {
            "type": "text",
            "id": "owl_autoplay_speed",
            "label": "Owl Auto Play speed",
            "info": "Default: 10000(ms)",
            "default": "10000"
        },
        {
            "type": "text",
            "id": "owl_speed",
            "label": "Owl Speed",
            "info": "Slide/Fade animation speed",
            "default": "300"
        }
        ],
        "presets": [
            {
                "name": "Home Page Blogs",
                "category": "Blogs",
                "settings": {
					"list_blog": "news"
                }
            }
        ]
    }
{% endschema %}