<div class="v5-widget-banner home-banner home-banner1 banners">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="banner-home lef-banner banner-image">
          {% if section.settings.link1 != blank %}
          <a href="{{ section.settings.link1 }}" title="{{ section.settings.link1.alt | default: shop.name }}">
            {% endif %}
            {% if section.settings.image1 != blank %}
            <img class="img-responsive" alt="{{ section.settings.image1.alt | default: shop.name }}" src="{{ section.settings.image1 | img_url: 'master' }}" />
            {% else %}
            <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/270x440" />
            {% endif %}
            {% if section.settings.link1 != blank %}
              <span class="yf">{{ section.settings.banner1 }}</span>
          </a>
          {% endif %}
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="banner-home right-banner banner-image">
          {% if section.settings.link2 != blank %}
          <a href="{{ section.settings.link2 }}" title="{{ section.settings.link2.alt | default: shop.name }}">
            {% endif %}
            {% if section.settings.image2 != blank %}
            <img class="img-responsive" alt="{{ section.settings.image2.alt | default: shop.name }}" src="{{ section.settings.image2 | img_url: 'master' }}" />
            {% else %}
            <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/570x4400" />
            {% endif %}
            {% if section.settings.link2 != blank %}              
            <span class="yf">{{ section.settings.banner2 }}</span>

          </a>
          {% endif %}
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="banner-home left-banner banner-image">
          {% if section.settings.link3 != blank %}
          <a href="{{ section.settings.link3 }}" title="{{ section.settings.link3.alt | default: shop.name }}">
            {% endif %}
            {% if section.settings.image3 != blank %}
            <img class="img-responsive" alt="{{ section.settings.image3.alt | default: shop.name }}" src="{{ section.settings.image3 | img_url: 'master' }}" />
            {% else %}
            <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/270x440" />
            {% endif %}
            {% if section.settings.link3 != blank %}              
            <span class="yf">{{ section.settings.banner3 }}</span>

          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Home Page Banner",
  "class": "home-section",
  "settings": [
    {
      "type": "header",
      "content": "Setting Banner "
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Banner image1"
    },
    {
      "type": "url",
      "id": "link1",
      "label": "Link1",
      "info": "Image link1"
    },{
      "type": "text",
      "id": "banner1",
      "label": "Button content"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Banner image2"
    },
    {
      "type": "url",
      "id": "link2",
      "label": "Link2",
      "info": "Image link2"
    },{
      "type": "text",
      "id": "banner2",
      "label": "Button content"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "Banner image3"
    },
    {
      "type": "url",
      "id": "link3",
      "label": "Link3",
      "info": "Image link3"
    },{
      "type": "text",
      "id": "banner3",
      "label": "Button content"
    }
  ],
  "presets": [
    {
      "name": "Home Page Banner",
      "category": "Image"
    }
  ]
}
{% endschema %}