<div class="container-fluid">
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-4">
		<div class="product-motto">
			"{{product.title}}"
        </div>

        <div>					
          <span class="product-tab active">DETAILS</span>

          <form action="/cart/add" method="post" enctype="multipart/form-data" >
            <input type="text" id="qty" name="quantity" value="1" min="1" style="display: none;" > 
            <select name="id" style="display: none;">
              {% for variant in product.variants %}
              {% if variant.available %}
              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                {{ variant.title }}
              </option>
              {% else %}
              <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
              {% endif %}
              {% endfor %}
            </select>
            <button type="submit" name="add" class="product-tab" >
              ADD TO CART
            </button>
          </form>
        </div>
	    <div class="clearfix"></div>
        <div class="product-description">
          {{product.description}}
        </div>
	</div>
	<div class="col-sm-6">
		<div id="productCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            {% for image in product.images %}
            <li data-target="#productCarousel" data-slide-to="{{ forloop.index }}" {% if forloop.first == true %} class="active" {% endif %}></li>
            {% endfor %}		    
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            {% for image in product.images %}
            <div class="item {% if forloop.first == true %} active {% endif %}">
              <img src="{{ image.src | img_url: "800x700" }}" class="img-responsive" >
            </div>
            {% endfor %}

          </div>
      </div>
		
	</div>
  <div class="col-sm-1"></div>
</div>
</div>