{% layout 'password' %}

{% comment %}
  The contents of the password.liquid templates can be found in /sections
{% endcomment %}

<div class="container" style="font-family: Roboto;">
  <div class="text-center">
	  <img src="https://cdn.shopify.com/s/files/1/0059/8016/0073/files/Bison_Logo_210x.png?v=1540867710" width="250" />
  </div>
  <H1 class="text-center">
    <big>BISON MATS COMING SOON</big>
  </H1>
  <div style="width: 50%; margin: auto; margin-bottom: 50px;" >
      <div data-type="countdown" data-id="810779" class="tickcounter" style="width: 100%; position: relative; padding-bottom: 25%"><a href="//www.tickcounter.com/countdown/810779/sign-up-to-our-newsletter-to-get-20-off-at-launch" title="SIGN UP TO OUR NEWSLETTER TO GET 20% OFF AT LAUNCH">SIGN UP TO OUR NEWSLETTER TO GET 20% OFF AT LAUNCH</a><a href="//www.tickcounter.com/" title="Countdown">Countdown</a></div><script>(function(d, s, id) { var js, pjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//www.tickcounter.com/static/js/loader.js"; pjs.parentNode.insertBefore(js, pjs); }(document, "script", "tickcounter-sdk"));</script>
  </div>
  <br>
  <div>    
    {% form 'customer' %}
    {{ form.errors | default_errors }}
    {% if form.posted_successfully? %}
    <p class="form--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
    {% else %}
    <div class="input-group password__input-group">
      <input type="hidden" name="contact[tags]" value="newsletter">
      <input type="email"
             name="contact[email]"
             id="Email"
             class="input-group__field newsletter__input"
             value="{% if customer %}{{ customer.email }}{% endif %}"
             placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
             autofocus="true"
             autocorrect="off"
             autocapitalize="off" style="border: none; text-indent: 10px;">
      <span class="input-group__btn">
        <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe" style="border: none; background: #EB7729; padding: 0 10px;">
          <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
        </button>
      </span>
    </div>
    {% endif %}
    {% endform %}
  </div>
  
</div>